In [2]:
import pandas as pd
from 

variables = pd.read_csv(r'D:\Code\Project\MathModelingCD\output\prob2\2023-12-26(09-54-43)\model[2023-12-26(09-54-43)].sol', delimiter=' ', skiprows=1, names=['var', 'value'])
variables

                   var  value
0                y1[0]      0
1                y1[1]      0
2                y1[2]      0
3                y1[3]      5
4                y2[0]      0
...                ...    ...
18471   x[3,18,10,8,1]      0
18472   x[3,18,10,9,0]      0
18473   x[3,18,10,9,1]      0
18474  x[3,18,10,10,0]      0
18475  x[3,18,10,10,1]      0

[18476 rows x 2 columns]

In [4]:
non_zero_vars = variables[variables['value'] != 0]
non_zero_vars

                  var  value
3               y1[3]      5
5               y2[1]      3
16             z[0,8]    148
19            z[0,11]     50
20            z[0,12]     12
...               ...    ...
17978  x[3,16,10,4,0]    544
18340   x[3,18,4,9,0]   1979
18341   x[3,18,4,9,1]    792
18453  x[3,18,9,10,1]    786
18462  x[3,18,10,4,0]   2112

[67 rows x 2 columns]

In [5]:
non_zero_vars.to_csv('./output/prob2/non_zero_vars.csv', index=False)